* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  text-align : center;
}

header h1 {
  font-size: 20px; 
  margin-top: 20px;
  margin-bottom: 20px; 
}
header img {
  width: 50px;
  height: 50px;
  box-sizing: border-box;  
  border-radius: 50px; 
}



header .tiger,.seaa,.olii,.bmthh,.homee {
  position: absolute; 
  right: 47%; 
}






.button {
  margin: 50px auto; 
  width: 100%;
  display: flex;
  font-size: 10px; 
  cursor: pointer; 
}

.red {
  height: 40px;
  width: 40px; 
  background-color: red;
  text-align: center; 
  line-height: 40px;
  border-radius: 50px;
  color: white;
  border: 1px solid white;
  margin-left: 10px; 
}

.blue {
  height: 40px; 
  width: 40px;
  background-color: blue;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 10px; 
  color: white;
  border: 1px solid white;
}

.black {
  height: 40px;
  width: 40px;
  background-color: black;
  text-align: center; 
  line-height: 40px;
  border-radius: 50px; 
  color: white; 
  border: 1px solid white; 
}

.normal {
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid black;
  color: black; 
  border-radius: 50px; 
  text-align: center; 
  line-height: 40px; 
  margin-left: 10px;
  margin-right: 10px;  
}

.button h3 {
  line-height: 40px; 
}

.background {
  width: 100%; 
  font-size: 10px; 
  display: flex; 
  text-align: center; 
  margin-top: -30px; 
  cursor: pointer; 
}

.background h3 {
  line-height: 40px;
  margin-left: 50%;
}

.animal {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: red;
  border-radius: 50px;
  margin-left: 10px; 
  color: white;
  border: 1px solid white; 
}

.animal:hover {
  background-color: rgb(170, 6, 6); 
}


.animal img {
  width:  50px;
  height: 50px; 
  border-radius: 50px; 
  display: none; 
}

.nature {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: green;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid white; 
  color: white; 
}

.nature:hover {
  background-color: rgb(13, 92, 13);
}

.sea {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: blue; 
  border-radius: 50px;
  color: white;
  border: 1px solid white;
}


.sea:hover {
  background-color: rgb(24, 24, 133); 
}

.bmth {
  height: 40px; 
  width: 40px;
  line-height: 40px;
  background-color: black;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px; 
  color: white;
  border: 1px solid white; 
}


.bmth:hover {
  background-color: rgb(94, 89, 89); 
}
.asal {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: white; 
  border-radius: 50px; 
  border: 1px solid black; 
}

.asal:hover {
  background-color: rgb(199, 193, 193); 
}











footer p {
  font-size: 9px;
}

footer aside {
  font-size: 10px; 
}
footer {
  position : fixed;
  bottom: 0;
  background-color: rgb(9, 9, 80); 
  z-index: -2; 
  height: 40px;
  width: 100%; 
  color: white; 
  box-sizing: border-box; 
  padding: 10px; 
  text-align: center; 
}